<h1><%= link_to "Chat Increible", root_path %></h1>
<ul id="chat_container">
<% @messages.each do |message| %>
  <li>
	<%= message.user %> dijo <%= message.content %>
  </li>
<% end %>
</ul>
<br />


<%= form_for(Message.new, :remote => true) do |f| %>
  <div class="field">
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
 <script type="text/javascript">
    // Enable pusher logging - don't include this in production
    Pusher.log = function(message) {
      if (window.console && window.console.log) window.console.log(message);
    };

    // Flash fallback logging - don't include this in production
    WEB_SOCKET_DEBUG = true;

    var pusher = new Pusher('c0b97835ccce8d568a10');
    var channel = pusher.subscribe('demoChat');
    channel.bind('message:create', function(data) {
      var message = "<li id='message_" + data.id +"' >" 
         message += data.user + ": " + data.content
         message += "</li>"

      $("#chat_container").append(message);
      $("#message_content").val("");
      $("#message_content").focus();
  
    });
  </script>